@import "tailwindcss";

.text-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.text-lato {
  font-family: var(--font-lato), sans-serif;
}

.text-poppins {
  font-family: var(--font-poppins), sans-serif;
}
